* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --blanco: #ffffff;
    --verdeOscuro: #8fa96d; 
    --verdeClaro: #D4DDB1;
    --cafe: #7A6448; 
    --beige: #F9F4E3;
    --cafeClaro: #CDB28A;
    --negro: #000000;
    --gris:#333;
}

body, html {
    margin-top: -27px;
    padding: 0;
    font-family: "Poppins";
    padding-top: 1px;
}

header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 5px 50px;
  height: auto;
}
.circle-icon {
  width: 45px; 
  height: 45px; 
  border-radius: 50%; 
  border: 1px solid #333; 
  background-color: transparent; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333; 
  font-size: 1.1rem; 
  transition: color 0.3s, border-color 0.3s, transform 0.3s;
}

.circle-icon:hover {
  color: var(--verdeOscuro); 
  border-color: var(--verdeOscuro);
  transform: scale(1.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative; 
}

nav ul li a {
  text-decoration: none;
  color: #333 ;
  font-size: 18px !important;
  padding: 5px 5px !important;
}

nav ul li a:hover {
  color: var(--verdeOscuro);
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; 
  background-color: var(--cafeClaro); 
  left: 0;
  bottom: -7px; 
  transform: scaleX(0);
  transition: transform 0.5s ease; 
}

nav ul li a:hover::after {
  transform: scaleX(1); 
}

nav {
  flex-grow: 2;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
  }
}

main{
  padding-top: 150px !important;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  max-width: 900px !important;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: translateY(-20px);
}

.card-body {
  position: relative;
  z-index: 1;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.card:hover .card-body {
  transform: translateY(-20px);
  opacity: 1; 
}

.btn {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .btn {
  opacity: 1;
}

.price {
  color: var(--gris);
  font-weight: bold;
  font-size: 1.05rem;
  margin-bottom: 1rem;
}

/* Estilos del footer */
footer {
  background-color: var(--verdeOscuro);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 6rem;
}

.footer-logo {
  width: 170px;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", Arial, sans-serif;
}

.contact-info i {
  margin-right: 15px;
  /* Espaciado a la derecha de los iconos */
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.social-icons p {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.social-icons a {
  color: white;
  font-size: 27px;
  text-decoration: none;
  margin: 0 7px;
}

.social-icons a:hover {
  color: #48924b;
  /* Cambia el color al pasar el mouse */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .contact-info {
    align-items: center;
    margin-right: 0;
    text-align: center;
  }

  .contact-info p {
    font-size: 16px;
  }

  .social-icons {
    margin-top: 20px;
  }
}