/* General styles */
* {
  font-family: "Poppins";
}
:root {
  --blanco: #ffffff;
  --verdeOscuro: #8fa96d;
  --verdeClaro: #D4DDB1;
  --cafe: #7A6448;
  --beige: #F9F4E3;
  --cafeClaro: #CDB28A;
  --negro: #000000;
  --gris: #333;
}

body,
html {
  margin-top: 90px;
  padding: 0;
  font-family: "Poppins";
  padding-top: 1px;

}

header {
  background-color: var(--blanco);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 5px 0;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative; 
}

nav ul li a {
  text-decoration: none;
  color: #333 ;
  font-size: 18px !important;
  padding: 5px 5px !important;
}

nav ul li a:hover {
  color: var(--verdeOscuro);
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; 
  background-color: var(--cafeClaro); 
  left: 0;
  bottom: -7px; 
  transform: scaleX(0);
  transition: transform 0.5s ease; 
}

nav ul li a:hover::after {
  transform: scaleX(1); 
}

nav {
  flex-grow: 2;
}

@media (max-width: 993px) {
  .container {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column; 
    align-items: center; 
    gap: 15px; 
  }
  .cart-icon {
    position: absolute; /* Posición absoluta para mover el carrito */ 
    top: 27px; /* Alineado con la parte superior del navbar */
    right: 11px; /* Ajusta la distancia a la izquierda del botón de menú */
  }

  .navbar-toggler {
    position: relative; /* Mantén el botón de menú en su lugar */
    z-index: 1; /* Asegura que el botón esté encima del carrito */
  }

  .container-fluid {
    position: relative; /* Asegura que el carrito se posicione correctamente dentro del contenedor */
  }
}

.navbar-nav {
  display: flexbox;
  align-items: center;
  flex-grow: 1;
}

.cart-icon {
  margin-left: auto; 
  margin-right: 90px; 
  display: flex;
  align-items: center; 
}

.cart-icon img {
  display: inline-block;
  vertical-align: middle;
}



.banner {
  width: 100vw;
  background-image: url('../img/Santorini.jpeg');
  background-size: cover;
  background-position: center;
  height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
  padding: 0;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 100px;
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}


/* Tarjetas */
.tarjetas {
  margin-bottom: 2em;
  margin-left: 8rem;
  margin-right: 3rem;
  margin-top: 6rem;
}

.tarjetas h2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--gris);
}

.subtitulo {
  position: relative;
  padding-left: 22px;
  font-size: 2rem;
}

.subtitulo::before {
  content: '';
  position: absolute;
  left: 8px;
  top: 0;
  height: 100%;
  width: 6px;
  background-color: var(--verdeClaro);
}

.tarjetas-container {
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; 
} 

/* estilo de las tarjetas */
.tarjeta {
  flex: 0 1 calc(50% - 1rem);
  max-width: 1200px;
  display: flex;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  align-items: center;
  max-width: 1000px;
}

.tarjeta img {
  width: 280px;
  height: 200px;
  margin-right: 2rem;
  transition: transform 0.3s, filter 0.3s;
  border-radius: 2%;
  margin-left: 0.2rem;
}

.tarjeta img:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.tarjeta h3 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--gris);
}

.tarjeta h3:hover {
  color: var(--verdeOscuro);
}

.tarjeta p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  color: var(--gris);
}


/* Consultas de medios */
@media (max-width: 938px) {
  .tarjeta {
    flex-direction: column; /* Cambia a diseño en columna */
    align-items: center; /* Centra los elementos */
    text-align: center; /* Centra el texto */
    flex: 0 1 calc(100% - 2rem); /* Ocupa el ancho completo menos márgenes */
    margin: 1rem; /* Margen alrededor */
    
  }

  .tarjeta img {
    flex: 0 0 auto; /* Imagen adaptada para diseño en columna */
    width: 90%; /* Imagen ocupa un 80% del ancho */
    margin: 0 0 1rem; /* Espaciado debajo de la imagen */
  }

  .tarjeta-content {
    width: 100%; /* El contenido ocupa todo el ancho disponible */
  }

}
@media (max-width: 768px) {
  .tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas */
    gap: 1rem; /* Espaciado entre tarjetas */
    padding: 1rem 0rem 1rem 3.3rem; /* Más relleno a la izquierda */
  }
}

@media (max-width: 480px) {
  .tarjeta-container {
    padding: 1rem; /* Margen interno para dispositivos pequeños */
  }

  .tarjeta {
    margin: 1rem auto; /* Margen uniforme y centrado */
  }

  .tarjeta img {
    width: 90%; /* Imagen más grande en dispositivos muy pequeños */
  }

  .tarjeta h3 {
    font-size: 1rem; /* Ajusta el tamaño del encabezado */
  }

  .tarjeta p {
    font-size: 0.9rem; /* Ajusta el tamaño del párrafo */
  }
}
/* Estilo del botón "Ver más" */
.btn-ver-mas {
  background-color: var(--verdeOscuro) !important;
  color: white !important;
  border: none;
  /* Sin borde */
  transition: background-color 0.3s;
}

.btn-ver-mas:hover {
  background-color: var(--verdeClaro) !important;
  color: white;
}

@media (max-width: 768px) {
  .tarjeta {
    flex: 1 1 100%;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #8b8e91;
  margin-bottom: 15px;
}

.info-item i {
  margin-right: 5px;
}


.text-section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
  margin-top: 5rem;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.text-section h2 {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--gris);
}

.section-paragraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.text-section:hover {
  transform: translateY(-20px);
}

/* Estilos del footer */
footer {
  background-color: var(--verdeOscuro);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
}

.footer-logo {
  width: 170px;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", Arial, sans-serif;
}

.contact-info i {
  margin-right: 15px;
  /* Espaciado a la derecha de los iconos */
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.social-icons p {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.social-icons a {
  color: white;
  font-size: 27px;
  text-decoration: none;
  margin: 0 7px;
}

.social-icons a:hover {
  color: #48924b;
  /* Cambia el color al pasar el mouse */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 6rem;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .contact-info {
    align-items: center;
    margin-right: 0;
    text-align: center;
  }

  .contact-info p {
    font-size: 16px;
  }

  .social-icons {
    margin-top: 20px;
  }
}

/* Barra lateral dentro de main */
.barra-lateral {
  max-width: 250px;
  padding: 60px;
  background-color: var(--verdeClaro);
  border-right: 1px solid #ddd;
  min-height: 100vh;
}

.barra-lateral ul {
  list-style-type: none;
  padding: 0px;
}

.barra-lateral li {
  margin-bottom: 55px;
}

.barra-lateral a {
  text-decoration: none;
  color: var(--gris);
  font-size: 17px;
  transition: color 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.barra-lateral a:hover {
  color: var(--verdeOscuro);
}

@media (max-width: 768px) {
  .barra-lateral {
    display: none;
  }

  .tarjetas {
    margin-left: 0;
  }
}