/* Acordeón principal */
.accordion {
  padding-left: 10vw; /* Usamos un valor relativo al ancho de la pantalla */
  padding-right: 10vw; /* Lo mismo para el lado derecho */
  padding-top: 0rem;
  align-items: center;
}

/* Estilo para los botones del acordeón */
.accordion-button {
  font-family: "Poppins", sans-serif;
  font-size: 17px !important;
  background-color: #f1f1f1;
  color: var(--gris);
  font-weight: 500;
}

/* Estilo para el cuerpo del acordeón */
.accordion-body {
  font-size: 18px;
}

/* Hover para los botones del acordeón */
.accordion-button:hover {
  background-color: var(--verdeClaro);
}

/* Estilo cuando el botón no está colapsado */
#accordionExample .accordion-button:not(.collapsed) {
  color: var(--blanco);
  background-color: var(--verdeClaro);
}

/* Estilo para el enfoque del botón */
#accordionExample .accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(174, 204, 157, 0.25);
  border: none !important;
}

/* Pantallas medianas (tablets) */
@media (max-width: 992px) {
  .accordion {
    padding-left: 5vw; /* Reducimos el padding horizontal */
    padding-right: 5vw; /* Lo mismo para el lado derecho */
  }

  .accordion-button {
    font-size: 16px; /* Reducimos el tamaño de la fuente en pantallas medianas */
  }

  .accordion-body {
    font-size: 16px; /* Reducimos el tamaño del texto en el cuerpo */
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .accordion {
    padding-left: 2rem; /* Reducimos aún más el padding en pantallas móviles */
    padding-right: 2rem; /* Lo mismo para el lado derecho */
  }

  .accordion-button {
    font-size: 14px; /* Reducimos el tamaño de la fuente en móviles */
  }

  .accordion-body {
    font-size: 14px; /* Reducimos el tamaño del texto en el cuerpo */
  }
}

:root {
  --blanco: #ffffff;
  --verdeOscuro: #8fa96d;
  --verdeClaro: #D4DDB1;
  --cafe: #7A6448;
  --beige: #F9F4E3;
  --cafeClaro: #CDB28A;
  --negro: #000000;
  --gris: #333;
}

body,
html {
  margin-top: 90px;
  padding: 0;
  font-family: "Poppins";
  padding-top: 1px;

}

header {
  background-color: var(--blanco);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 5px 0;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative; 
}

nav ul li a {
  text-decoration: none;
  color: #333 ;
  font-size: 18px !important;
  padding: 5px 5px !important;
}

nav ul li a:hover {
  color: var(--verdeOscuro);
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; 
  background-color: var(--cafeClaro); 
  left: 0;
  bottom: -7px; 
  transform: scaleX(0);
  transition: transform 0.5s ease; 
}

nav ul li a:hover::after {
  transform: scaleX(1); 
}

nav {
  flex-grow: 2;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
  }
}




/* Banner Section */
.banner {
  width: 100vw;
  background-image: url('../img/rioCeleste1.jpg');
  background-size: cover;
  background-position: center;
  height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
  padding: 0;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 100px;
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.text-section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
  margin-top: 5rem;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

.text-section h2 {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--gris);
}

.subtitulo {
  position: relative;
  padding-left: 20px;
  font-size: 2rem;
}

.subtitulo::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background-color: var(--verdeClaro);
}

.section-paragraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
}



/* Estilos del footer */
footer {
  background-color: var(--verdeOscuro);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 6rem;
}

.footer-logo {
  width: 170px;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", Arial, sans-serif;
}

.contact-info i {
  margin-right: 15px;
  /* Espaciado a la derecha de los iconos */
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.social-icons p {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.social-icons a {
  color: white;
  font-size: 27px;
  text-decoration: none;
  margin: 0 7px;
}

.social-icons a:hover {
  color: #48924b;
  /* Cambia el color al pasar el mouse */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .contact-info {
    align-items: center;
    margin-right: 0;
    text-align: center;
  }

  .contact-info p {
    font-size: 16px;
  }

  .social-icons {
    margin-top: 20px;
  }
}
