:root {
    --blanco: #ffffff;
    --verdeOscuro: #8fa96d; 
    --verdeClaro: #D4DDB1;
    --cafe: #7A6448; 
    --beige: #F9F4E3;
    --cafeClaro: #CDB28A;
    --negro: #000000;
    --gris:#333;
}

body, html {
    margin-top: 90px;
    padding: 0;
    font-family: "Poppins";
    padding-top: 1px;
    
}

header {
  background-color: var(--blanco);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img {
  width: 190px;
}

nav {
  flex-grow: 2;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative; 
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px 5px;
}

nav ul li a:hover {
  color: var(--verdeOscuro);
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%; 
  height: 2px; 
  background-color: var(--cafeClaro);
  left: 0;
  bottom: -5px; 
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li a:hover::after {
  transform: scaleX(1); /* El subrayado se expande al hacer hover */
}

nav {
  flex-grow: 2;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
  }
}



/* Banner Section */
.banner {
  width: 100vw;
  background-image: url('../img/ThailandCarousel.jpg');
  background-size: cover;
  background-position: center;
  height: 40vh; 
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center;
  color: white;
  margin: 0;
  padding: 0;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 100px; 
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/*Textos section*/

.text-section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
  margin-top: 5rem;
  text-align: center; 
  background-color: var(--blanco);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.text-section h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--gris);
}

.section-paragraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.text-section:hover{
    transform: translateY(-10px);
}


/* Services section */

.services {
  background-color: var(--blanco);
  padding: 40px 100px;
  text-align: center;
  margin-top: 5rem;
}

.services h2 {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--gris);
}

.subtitulo {
  position: relative;
  padding-left: 20px; 
  font-size: 2rem; 
  }
  
.subtitulo::before {
  content: ''; 
  position: absolute;
  left: 0; 
  top: 0;
  height: 100%; 
  width: 6px; 
  background-color:var(--verdeClaro); 
  }

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0; 
  border: 1px solid #e0e0e0;
}

.service-box {
  background-color: #f9f9f9;
  padding: 30px 20px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0; 
}

.service-box img {
    max-width: 100px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.service-box p {
    font-size: 1.1em;
    font-weight: 600;
    color: #555;
    font-family: "Poppins",  sans-serif;
}

.service-box:last-child {
    border-right: none; /* No borde en el último ítem de la fila */
}

.service-box:nth-child(3n) {
    border-right: none; /* Quita borde derecho en cada tercera caja */
}

.service-box:nth-child(-n+3) {
    border-top: none; /* Quita borde superior en la primera fila */
}

/* Efectos de animación al pasar el cursor */
.service-box:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    background-color: #e0e0e0;
}

.service-box:hover img {
    transform: scale(1.1); /* Agranda un poco el ícono */
}

.service-box a {
  text-decoration: none;   
  color: inherit;          
}


.service-box a:hover {
  color: inherit;         
  text-decoration: none;   
  opacity: 1;             
}

/* Testimonios section*/

.testimonios {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
  margin-top: 4rem;
}

.testimonios .subtitulo {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--gris);
  margin-bottom: 40px;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.testimonial-card:hover {
  transform: translateY(-10px);
}

.author-photo {
  width: 120px; 
  height: 120px;
  border-radius: 50%;
  object-fit: cover; 
  margin: 0 auto 10px; 
}

.testimonial-text {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: #555;
  margin-bottom: 10px;
}

.testimonial-author {
  font-size: 1rem;
  font-weight: 600;
  color: var(--cafe);
  margin-top: 10px;
  font-family: "Poppins", Arial, sans-serif;
}

.rating {
  margin: 10px 0;
  color: #FFD700; /* Color de las estrellas */
}

.rating i {
  margin-right: 5px;
}

/* Controla el tamaño de las estrellas */
.rating .fas, .rating .far {
  font-size: 1.5rem;
}

.carousel-control-prev, .carousel-control-next {
  filter: invert(1);
}




 /* Estilos del footer */
footer {
  background-color: var(--verdeOscuro);
  color: white; 
  padding: 20px;
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  flex-wrap: wrap; 
  padding-left: 200px; 
  padding-right: 200px; 
  margin-top: 6rem;
}

.footer-logo {
  width: 170px; 
  margin-right: 10px; 
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px; 
}

.contact-info p {
  margin: 5px 0; 
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", Arial, sans-serif;
}
  
.contact-info i {
  margin-right: 15px; /* Espaciado a la derecha de los iconos */
}
  
.social-icons {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  gap: 1px; 
}

.social-icons p {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.social-icons a {
  color: white; 
  font-size: 27px;
  text-decoration: none;
  margin: 0 7px;
}

.social-icons a:hover {
  color: #48924b; /* Cambia el color al pasar el mouse */
}




